.idea/.name
.idea/Beveiligde-Pasjes.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
data.db
*.db
Database.py
UseDatabase.py
data.db
Database.py
Database.py
UseDatabase.py
DumpInfo/DumpInfo.ino
UseDatabase.py
DumpInfo/DumpInfo.ino
Database.py
*.db