.idea/.name
.idea/Beveiligde-Pasjes.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
data.db
*.db
*.pyc
*.pyc
__pycache__/UseDatabase.cpython-34.pyc
data.db
data.db
door_eigenaar_open.png
data.db
UseDatabase.py
presentatie/~$Project beveiligde pasjes update.pptx